$dark: #1f1f1f;
$light: #e4e4e4;

$card-gradient: (
        'blue': linear-gradient(45deg, #1334ab, #05dcff),
        'purple': linear-gradient(45deg, #532867, #e405ff),
        'yellow': linear-gradient(45deg, #ff5900, #e6d503),
        'green': linear-gradient(45deg, #00551c, #05ff52),
        'red': linear-gradient(45deg, #a50000, #ff5f5f),
        'grey': linear-gradient(45deg, #3c3c3c, #919191),
        'light-blue': linear-gradient(45deg, #13ab81, #05fff3),
        'light': #f3f1f0,
        'white': #ffffff,
);

$colors: (
        'dark': $dark,
        'light': $light,
        'text-dark': $dark,
        'text-light': $light,
);

html {
  @each $key, $value in $colors {
    --#{$key}: #{$value};
  }
}
